{
    "presets": [
        "flow",
        ["env", {
            "targets": {
                "node": "4.0"
            },
            "useBuiltIns": true
        }]
    ],
    "plugins": [
        [ "transform-runtime", { "polyfill": false, "regenerator": true } ],
        "syntax-object-rest-spread",
        "syntax-class-properties",
        "transform-class-properties",
    ]
}
